.wrapper {
	margin: 0 auto;
	max-width: 960px;
	text-align: center;
}

h1 {
	color: red;
}


.field {
	position: relative;
	height: 960px;
	width: 960px;
	padding: 0;
	margin: auto;
	margin-top: 50px;
	outline: 2px solid black;
	font-size: 0;
}

.square {
	margin: 0;
	padding: 0;
	display: inline-block;
	outline: 1px solid black;
	border: none;
}

.square-painted {
	background-color: purple;
}

